{{> header}}
<div class="container home some">
    <img class="det-img" src="{{imageURL}}" />
    <div class="desc">
        <h2 class="display-5">{{title}}</h2>
        <p class="infoType">Description:</p>
        <p class="idea-description">{{description}}</p>
        <p class="infoType">Likes: <large>{{likes}}</large>
        </p>
        <p class="infoType">Comments:</p>
        <ul>
            {{#each comments}}
                <li class="comment">{{comment}}</li>
            {{/each}}
        </ul>
    </div>
    {{#if isOrganizer}}
        <div class="text-center">
            <a class="btn detb" href="/remove/{{_id}}">Delete</a>
        </div>
    {{else}}
        <form class="text-center" method="POST" action="/ideaDetails/{{_id}}">
            <textarea class="textarea-det" name="newComment" id=""></textarea>
            <button type="submit" class="btn detb" >Comment</button>
            <a class="btn detb" href="/like/{{_id}}">Like</a>
        </form>
    {{/if}}
</div>
{{> footer}}