<ul>
    {{#each cats}}
    <li>
        <img src="./images/{{imageLocation}}.jpg" width="250" height="250" alt="Card image cap">
        <div class="info">
            <button id="{{id}}" class="showBtn" onclick="display(this.id)">Show status code</button>
            <div class="status" style="display: none" id="cat_{{id}}">
                <h4>Status Code: {{statusCode}}</h4>
                <p>{{statusMessage}}</p>
            </div>
        </div>
    </li>
    {{/each}}
</ul>